html {
    --section-background-color: linear-gradient(
      to bottom left,
      /* rgb(51, 62, 177), rgb(0, 0, 0)
       */
       rgb(5, 8, 40), rgb(5, 9, 51)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      /* rgba(5, 8, 40, 0.9), rgba(1, 4, 39, 0.925) */
      rgba(5, 7, 40, 0.87), rgba(5, 7, 39, 0.9)
    );
  
    --imp-text-color: #7500fa;
    --imp-bold-text-color: #7500fa;
  }

.Home{
    
    width: 100%;
    /* will change it */
    height: 100vh;
    color: aliceblue;
    background-image: var(--image-gradient);
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    
}
