.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  /* height: 300px; */
  object-fit: cover;
  height: 200px;
  width: 400px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(
    113.47deg,
    #0c1427 -5.91%,
    #233d7f 50%,
    #020317 111.58%
  );
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-txtx h4 {
  color: #f1eee5;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  /* font-style: italic; */
  color: #f1eee5;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
